.card-block {
	background-color: rgba(255,255,255, .7);
}

.wrapper{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(22, 107, 244, 0.9), rgba(9, 63, 150, 0)), url(pic/space.jpg);
    background-position: center center;
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
}

.wrapper > * {
	transform: skewY(7deg);
}

.card-shape {
	-webkit-clip-path: circle(50% at 50% 50%); 
	 clip-path: circle(50% at 50% 50%);
	transform: scale(.57);
	 
}

.card-space img {
	width: 100%;
	width: 130%;
	height: 90%;
	transform: translateX(-30px);

	
}