
  

  
  .teach-btn {
    &,
    &:link,
    &:visited {
        
        text-transform: uppercase;
        text-decoration: none;
        padding: .8rem 1.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1rem;
        @include respond(phone) {
            font-size: 1.1rem;
        }
        @include respond(tab-port) {
            font-size: 1.3rem;
        }
       @include respond(tab-land) {
           font-size: 1.5rem;
       }
        

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    &-links{
        display: flex;
        justify-content: space-between;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
       margin-top: 1rem;
       font-weight: 750;

       padding-bottom: 0;
       margin-bottom: 0;

        @include respond(phone)  {
            margin: 0;

        }

        &::after {
            background-color: $color-white;
        }
    }

    &--facebook {
        background-color: #4267b2;
        color: rgb(238, 235, 235);
        margin-top: 1rem;
        font-weight: 750;

        @include respond(phone) {
            margin: 0;
        }
        &::after {
            background-color: #4267b2;
        }
    }

    &--red {
        background-color: rgb(214, 29, 29);
        color: rgb(231, 228, 228);
        margin-top: 1rem;
        font-weight: 750;

        @include respond(phone) {
            margin: 0;
        }

        &::after {
            background-color: red;
        }
    }
   

    &--blue {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }

        &--bugfix {
            margin-top: 50rem;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

// THIS ID IS FOR ADDING SPACE BETWEEN 
//        TEXT AND WHT BTN 

#top-btn-margin {
    @include respond(phone)  {
        margin-top: 4rem;
    }
     
    
    }

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

